[Desktop Entry]
Version=1.0
Type=Application
Name=Light theme
Comment=
Exec=fast-theme-switch.sh default-light-theme
Icon=weather-clear
Path=
Terminal=false
StartupNotify=false
