[Desktop Entry]
Type=Application
Name=Xfdashboard
Name[be]=Xfdashboard
Name[bg]=Xfdashboard
Name[ca]=Xfdashboard
Name[da]=Xfdashboard
Name[de]=Xfdashboard
Name[el]=Xfdashboard
Name[es]=Xfdashboard
Name[et]=Xfdashboard
Name[eu]=Xfdashboard
Name[fr]=Xfdashboard
Name[gl]=Xfdashboard
Name[he]=Xfdashboard
Name[id]=Xfdashboard
Name[ie]=Xfdashboard
Name[it]=Xfdashboard
Name[it_IT]=Xfdashboard
Name[ja]=Xfdashboard
Name[ko]=xfdashboard
Name[lt]=Xfdashboard
Name[nb]=Xfdashboard
Name[nl]=Xfdashboard
Name[pl]=Xfdashboard
Name[pt]=Xfdashboard
Name[pt_BR]=Xfdashboard
Name[ru]=Xfdashboard
Name[sl]=Xfdashboard ndazorna plošča
Name[sq]=Xfdashboard
Name[sr]=Полетник Иксфце-а
Name[sv]=Xfdashboard
Name[tr]=Xfdashboard
Name[zh_CN]=Xfdashboard
Comment=Maybe a Gnome shell like dashboard for Xfce
Comment[be]=Інтэрфейс Gnome shell для абалонкі Xfce
Comment[bg]=Табло за управление за Xfce подобно на „Gnome Shell“
Comment[ca]=Potser un tauler de control similar a Gnome Shell per a Xfce
Comment[da]=Måske et instrumentbræt til Xfce i stil med det der findes i GNOME Shell
Comment[de]=Ein Gnome Shell ähnliches Dashboard für Xfce
Comment[el]=Ενδεχομένως ένα ταμπλό δραστηριοτήτων όμοιο με αυτό του κελύφους Gnome
Comment[es]=Un tablero para Xfce similar al de GNOME Shell
Comment[eu]=Agian Gnome shell antzeko aginte-taula bat Xfcerako
Comment[fr]=Peut-être un tableau de bord façon Gnome pour Xfce
Comment[gl]=Un panel de control parecido ao intérprete de ordes Gnome para Xfce
Comment[he]=אולי לוח מחוונים דומה Gnome עבור Xfce
Comment[id]=Sebuah dasbor mirip Gnome shell untuk Xfce
Comment[ie]=Un panel de control por Xfce in li stil de Gnome shell
Comment[it]=Una dashboard per Xfce simile a Gnome shell
Comment[ja]=Gnome シェル のような Xfce 向けダッシュボード
Comment[ko]=xfce용 그놈 셸 유사 대시보드
Comment[lt]=Galbūt, į Gnome apvalkalą panašus skydelis, skirtas Xfce
Comment[nb]=Et oversiktsprogram for Xfce som kanskje ligner på Gnome-skallet
Comment[nl]=Een bedieningspaneel voor Xfce dat lijkt op dat van Gnome Shell.
Comment[pl]=Pulpit nawigacyjny dla Xfce podobny do powłoki Gnome
Comment[pt]=Talvez um painel de controlo como o Gnome shell para o Xfce
Comment[pt_BR]=Talvez um painel semelhante ao shell do Gnome para o Xfce
Comment[ru]=Интерфейс GNOME shell, для среды Xfce
Comment[sl]=Morda nadzorna plošča podobna Gnome lupini za Xfce
Comment[sq]=Një pult për Xfce-në, i ngjashëm ndoshta me shellin Gnome
Comment[sr]=Полетник Иксфце-а који подсећа на Гномову шкољку
Comment[sv]=Kanske en Gnome shell liknande dashboard för Xfce
Comment[tr]=Xfce için belki Gnome shell'e benzeyen kumanda paneli
Comment[zh_CN]=也许是一个适用于 Xfce，像仪表板的 Gnome shell
GenericName=Xfdashboard
TryExec=/usr/bin/xfdashboard
Exec=sh -c "albert hide; /usr/bin/xfdashboard"
Icon=org.xfce.xfdashboard
Categories=System;
NotShowIn=GNOME;KDE;Unity;
Terminal=false
Path=
StartupNotify=false
