[Settings]
ShowAllProcesses=TRUE
ShowLegend=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=5
SortType=1
WindowWidth=537
WindowHeight=514
HandlePosition=100
ProcessTreeView=FALSE
