[Desktop Entry]
Version=1.0
Type=Application
Exec=/opt/eric/bin/eric7
TryExec=/opt/eric/bin/eric7
MimeType=text/x-python;
Icon=eric
Terminal=false
Name=eric
Name[de]=eric
Comment=Integrated Development Environment for Python
Comment[de]=Integrierte Entwicklungsumgebung für Python
GenericName=IDE for Python
GenericName[de]=IDE für Python
Categories=Qt;X-Python;Development;IDE;
StartupNotify=true
