[Desktop Entry]
Type=Application
Icon=eric
Name=Eric6 Icon Editor
Exec=/opt/eric6/bin/eric6_iconeditor
Terminal=false
Hidden=false
Categories=Development
