[Desktop Entry]
Type=Application
Icon=org.xfce.settings.appearance
Name=Fast theme switch
Exec=fast-theme-switch.sh
Terminal=false
Hidden=false
OnlyShowIn=XFCE;
Keywords=Theme Switcher;Themes;Profiles
Categories=Settings; System; Utility
