[Desktop Entry]
Version=1.0
Type=Application
Name=KWin
Comment=
Exec=kwin_x11 --replace
Icon=desktop-environment-kde
Path=
Terminal=false
StartupNotify=false
