[Desktop Entry]
Version=1.0
Type=Application
Name=Dark theme
Comment=
Exec=fast-theme-switch.sh default-dark-theme
Icon=weather-clear-night
Path=
Terminal=false
StartupNotify=false
